<body>
  <header>
    <h1>Weather in <%= city %></h1>
  </header>
  <main>
      <ul>
        <h1>Weather for <%= city %></h1> 
        <p>Temperature: <%= temp %>°F</p> 
        <p>Weather: <%= desc %></p> 
        <a href="/">Back to home!
      </ul>
  </main>
</body>